.saidpanel{
width: 10%;
min-height: 80%;
border-right: 2px solid black;
background: linear-gradient(to right, #1b0234,#472B83);
display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 20px 0;
  box-sizing: border-box;
}
.saidpanel a {
  text-decoration: none;      /* убираем подчеркивание */
  color: #fff;                /* белый текст */
  font-weight: 600;           /* жирность текста */
  margin: 10px 0;             /* отступы между ссылками */
  padding: 10px 20px;         /* внутренние отступы */
  width: 80%;                 /* растягиваем на ширину контейнера */
  text-align: center;         /* текст по центру */
  border-radius: 5px;         /* скругление */
  transition: all 0.3s ease; /* плавный переход при наведении */
}


.saidpanel a:hover {
  background-color: #7546D7;  /* фон при наведении */
  color: #fff;                 /* текст остается белым */
  transform: scale(1.05);      /* немного увеличиваем ссылку */
}